*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Check the font*/
  line-height: 1.65;
  background-color: #000000;
}

/* Scroll to top button */
.scroll-to-top {
    display: none; /* hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: black;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
  }
  
  /* Show the button when the user scrolls down */
  @media (min-height: 400px) {
    .scroll-to-top {
      display: block;
    }
  }
  
  /* Button hover styles */
  .scroll-to-top:hover {
    background-color: #555;
  }

  #sidebar img {
    width:180px;
    height: 90px;
    margin: auto;
    float: left;
  }

#sidebar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-weight: bold;
  }
  
  #sidebar ul {
	list-style: none;
	margin-right: 25px;
	padding: 0;
	display: flex;
  white-space: nowrap;
    
}

#sidebar li {
	margin: 0 15px;
}

#sidebar a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
  text-align: center;
}

#sidebar a:hover {
	background-color: #555;
}

 #form {
	display:flex;
  flex-direction: row;
	align-items: left;
  margin-right: 15px;
    
    
}

#Search {
    caret-color: #009FBD;
    position: relative;
    width: 205px;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    margin-right: 105px;
    flex-direction: row;
    top: 10px;
}

 #search-button {
	background-color: #05BFDB;
	color: black;
	border: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
  width: 75px;
  position: absolute;
  top: 42px;
  right: 0;
  margin-right: 10px;
 }

.dropdown-content {
  display: none;
  background-color: #333;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  flex-direction: column;
}

.decorative-heading {
  font-family: 'Arial', sans-serif;
  font-size: 72px;
  color: #ffffff;
  text-align: left;
  text-shadow: 2px 2px 4px #4CAF50;
  margin: 0;
  padding: 20px;
  background-color: #000000;
  border: 1px solid #4CAF50;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #4CAF50;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  text-shadow: 2px 2px 4px #cccccc;
  margin: 0;
  padding: 20px;
  background-color: #000000;
  border: 1px solid #4CAF50;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #4CAF50;
}

.decorative-heading2 {
  font-family: 'Arial', sans-serif;
  font-size: 42px;
  color: #ffffff;
  margin-top: 20px;
  padding: 20px;
}

body {
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.container5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.product-image {
  flex-basis: 40%;
  margin-right: 20px;
}


.purchase-box {
  flex-basis: 55%;
  margin-bottom: 55px;
  margin-left: 15px;
}

h1 {
  text-align: center;
}

#form2 {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="submit2"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit2"]:hover {
  background-color: #45a049;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #4CAF50;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #4CAF50;
  font-size: 24px;
  margin-bottom: 30px;
}

.amounts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.amount {
  padding: 12px 24px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.custom-amount {
  margin-bottom: 20px;
}

label {
  color: #4CAF50;
  font-weight: bold;
  font-size: 16px;
}

input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"],
input[type="email"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}

.next-button,
.confirm-button {
  padding: 12px 24px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.next-button:hover,
.confirm-button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 30px;
  font-weight: bold;
  color: #4CAF50;
  font-size: 18px;
}


.error {
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  }

  .error-message {
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
    }

.Product1 {
  background-color: #000000;
  align-items: left;
  height: 70vh;
  margin-left: 20px;
}

.Product1 img {
  width: 500px;
  height: 250px;
  border: 4px solid #4CAF50;
}

.Product2{
  width: 400px;
}

.social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  }
  
  .social-media li {
  margin-right: 10px;
  }
  
  /* .social-media li:last-child {
  margin-right: 0;
  } */
  
  .social-media a {
  color: #fff;
  font-size: 24px;
  }
  
  .social-media a:hover {
  color: #f5a623;
  }

  footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  }
  
  footer a {
  color: #999;
  text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  }
  
  footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
  }
  
  .footer-bottom {
  margin-top: 20px;
  text-align: center;
  }
  
  .footer-bottom p {
  font-size: 14px;
  margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .footer-column-1 {
    margin-right: 0;
  }
  
  .social-media {
    text-align: center;
  }
  
  .social-media li {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; /* adjust this value to reduce or increase the space between the icons */
  }
  
  /* .social-media li:last-child {
    margin-bottom: 0;
  } */
  }

  .social-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  }
  
  .social-icons a {
  margin-right: 10px;
  color: #000; /* Change color as desired */
  font-size: 34px;
  }
  
  .social-icons a:hover {
  color: #3b5998; /* Change color as desired */
  }

  .col-md-2 h5 {
  font-size: 26px;
  
  }

  .social-icons {
  margin-top: 0.3rem;
}

.col-md-2 h5 {
  margin-top: 0.1rem;
}

.button5 {
width: 202px;
height: 55px;
border-radius: 5px;
background-color: #05BFDB;
font-size: 18px;
color: black;
border: none;
padding: 10px;
cursor: pointer;
margin-top:5px;
margin-left: 5px;
}

.button30 {
display: inline-block;
padding: 10px 20px;
background-color: #337ab7;
color: #fff;
cursor: pointer;
margin-top: 20px;
margin-left: 270px;
}

.footer-bottom {
  background-color: #292c2f;
  padding: 5px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  }


.container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }