*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Check the font*/
    line-height: 1.65;
    background-color: #F0EABE;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Scroll to top button */
.scroll-to-top {
    display: none; /* hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: black;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
  }
  
  /* Show the button when the user scrolls down */
  @media (min-height: 400px) {
    .scroll-to-top {
      display: block;
    }
  }
  
  /* Button hover styles */
  .scroll-to-top:hover {
    background-color: #555;
  }

  #sidebar img {
    width:180px;
    height: 90px;
    margin: auto;
    float: left;
    
  }

#sidebar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }
  
  #sidebar ul {
	list-style: none;
	margin-right: 25px;
	padding: 0;
	display: flex;
    white-space: nowrap;
    
}

#sidebar li {
	margin: 0 15px;
}

#sidebar a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
    text-align: center;
}

#sidebar a:hover {
	background-color: #555;
}

 #form {
	display:flex;
  flex-direction: row;
	align-items: left;
  margin-right: 15px;
    
    
}

.dropdown-content {
  display: none;
  background-color: #333;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  flex-direction: column;
}

#Search {
    caret-color: #009FBD;
    position: relative;
    width: 205px;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    margin-right: 105px;
    flex-direction: row;
}

 #search-button {
	background-color: #05BFDB;
	color: black;
	border: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
    width: 75px;
    position: absolute;
    top: 43px;
    right: 0;
    margin-right: 10px;
}

#kosgoda-section {
    background-image: url('Kosgoda Gallery/Kosgoda.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    padding: 20px;
    text-align: center;
  }
  
  #kosgoda-section h1 {
    margin-top: 45px;
    color: #ffffff;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  #kosgoda-section h1:hover {
    color: #4d9b6b;
    text-shadow: 1px 1px 1px black;
  }

/* Style the map box */
.map-box {
    text-align: center;
    padding: 20px;
    background-color:#DCFFCC;
  }
  
  /* Style the map */
  .map {
    width: 100%;
    height: 400px;
  }

/* Reset default styles */
body,
h1,
p,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color */
body {
  background-color: #f5f5f5;
}

/* Center align the content */
#details {
    background-image: url('images/Green_water\,_Lake_Tahoe.jpg');
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .bentota-image1,
  .bentota-image2 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #00c2ff;
    filter: brightness(110%);
    transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .bentota-image1:hover,
  .bentota-image2:hover {
    filter: brightness(120%);
    box-shadow: 0 0 20px 4px #00c2ff;
  }
  
#details p {
    font-size: 16px;
    font-weight: 500;
    color: #4A4A4A;
    background-color: #DCFFCC;
    padding: 40px;
    margin-bottom: 20px;
}

/* Style the heading */
h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Style the paragraph text */
p {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Style the images */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Align images in a row */
.image-container {
   display: grid;
   grid-template-columns: auto auto auto;
  }
  
  /* Apply hover effect */
  .zoom-image {
    filter: grayscale(100%);
    transition: transform 0.3s;
  }
  
  .zoom-image:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
  
  /* Unique hover effects */
  .large-image {
    filter: grayscale(100%);
    transition: filter 0.3s;
  }
  
  .large-image:hover {
    filter: grayscale(0%);

  }
  
  /* Green color theme */
  body {
    background-color: #eafaf1;
  }
  
  #image-gallery {
    background-color: #DCFFCC;
    padding: 20px;
  }
  
  h2 {
    color: #118a56;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .zoom-image {
    border: 5px solid #2ecc71;
    width: 450px; /* Adjust the width as per your requirement */
    height: 300px; /* Adjust the height as per your requirement */
  }
  
  .zoom-image:hover {
    border-color: #27ae60;
  }

.social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .social-media li {
    margin-right: 10px;
    }
    
    /* .social-media li:last-child {
    margin-right: 0;
    } */
    
    .social-media a {
    color: #fff;
    font-size: 24px;
    }
    
    .social-media a:hover {
    color: #f5a623;
    }
  
    footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
    }
    
    footer a {
    color: #999;
    text-decoration:none;
    }
    
    footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
    }
    
    footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
    }
    
    .footer-bottom {
    margin-top: 20px;
    text-align: center;
    }
    
    .footer-bottom p {
    font-size: 14px;
    margin-bottom: 0;
    }
    
    @media (max-width: 767px) {
    .footer-row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .footer-column {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .footer-column-1 {
      margin-right: 0;
    }
    
    .social-media {
      text-align: center;
    }
    
    .social-media li {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px; /* adjust this value to reduce or increase the space between the icons */
    }
    
    /* .social-media li:last-child {
      margin-bottom: 0;
    } */
    }
  
    .social-icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
    }
    
    .social-icons a {
    margin-right: 10px;
    color: #000; /* Change color as desired */
    font-size: 34px;
    }
    
    .social-icons a:hover {
    color: #3b5998; /* Change color as desired */
    }
  
    .col-md-2 h5 {
    font-size: 26px;
    
    }
  
    .social-icons {
    margin-top: 0.3rem;
  }
  
  .col-md-2 h5 {
    margin-top: 0.1rem;
  }
  
  .button5 {
  width: 202px;
  height: 55px;
  border-radius: 5px;
  background-color: #05BFDB;
  font-size: 18px;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top:5px;
  margin-left: 5px;
  margin-bottom: 5px;
  }
  
  .footer {
    height: 87vh;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }

  .footer-bottom {
    background-color: #292c2f;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    }