*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Check the font*/
    line-height: 1.65;
    background-color: #002B5B;
}

/* Scroll to top button */
.scroll-to-top {
    display: none; /* hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: black;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
  }
  
  /* Show the button when the user scrolls down */
  @media (min-height: 400px) {
    .scroll-to-top {
      display: block;
    }
  }
  
  /* Button hover styles */
  .scroll-to-top:hover {
    background-color: #555;
  }

  #sidebar img {
    width:180px;
    height: 90px;
    margin: auto;
    float: left;
    
  }

#sidebar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }
  
  #sidebar ul {
	list-style: none;
	margin-right: 25px;
	padding: 0;
	display: flex;
    white-space: nowrap;
    font-size: 20px;
    
}

#sidebar li {
	margin: 0 15px;
}

#sidebar a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
    text-align: center;
}

#sidebar a:hover {
	background-color: #555;
}

 #form {
	display:flex;
  flex-direction: row;
	align-items: left;
  margin-right: 15px;
    
    
}

.dropdown-content {
  display: none;
  background-color:#333;
  padding: 5px; 
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  flex-direction: column;
}

#Search {
    caret-color: #009FBD;
    position: relative;
    width: 205px;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    margin-right: 105px;
    flex-direction: row;
}

 #search-button {
	background-color: #05BFDB;
	color: black;
	border: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
    width: 75px;
    position: absolute;
    top: 43px;
    right: 0;
    margin-right: 10px;
}

#Categories {
    background-color: #088395;
    height: 300px;
}

#Categories h {
    margin-top: 0px;
    margin-left: 480px;
    font-size: 60px;
    text-align: center;
    color: #1D267D;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }

  .box {
    border: 4px #1D267D; 
    box-shadow: 0px 0px 20px #00FFCA;
    border-radius: 10px;
    padding: 20px;
  }
  
  .paragraph {
    font-size: 18px;
    line-height: 1.5;
  }

  .image-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263A29;
    margin-top: 0px;
    margin-bottom: 0px;

  }
  
  .image-box {
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    border: 4px solid #00ff00;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .text-box {
    width: 50%;
    padding: 20px;
  }
  
  .description-box {
    border: 3px solid #00ff00;
    box-shadow: 0px 0px 20px #00ff00;
    border-radius: 10px;
    padding: 20px;
    margin-right: 50px;
  }

  
  
  .description {
    font-size: 18px;
    line-height: 1.5;
  }

  .neon-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #00ff00;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.7), 0 0 30px rgba(0, 255, 0, 0.7), 0 0 40px rgba(0, 255, 0, 0.7), 0 0 70px rgba(0, 255, 0, 0.7), 0 0 80px rgba(0, 255, 0, 0.7), 0 0 100px rgba(0, 255, 0, 0.7);
  }
  
  p {
    color: #fff; 
  }

  .image-container2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F200D;
    margin-top: 0px;

  }
  
  .image-box2 {
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    border: 4px solid #FFEBB4;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .text-box2 {
    width: 50%;
    padding: 20px;
  }
  
  .description-box2 {
    border: 3px solid #FFEBB4;
    box-shadow: 0px 0px 20px #FFEBB4;
    border-radius: 10px;
    padding: 20px;
    margin-right: 50px;
  }
  
  .description2 {
    font-size: 18px;
    line-height: 1.5;
  }

  .neon-title2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFEBB4;
    text-shadow: 0 0 10px #FFEBB4, 0 0 20px #FFEBB4, 0 0 30px #FFEBB4, 0 0 40px #FFEBB4, 0 0 70px #FFEBB4, 0 0 80px #FFEBB4, 0 0 100px #FFEBB4;
  }

  .image-container3 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F3460;
  }
  
  .image-box3 {
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    border: 4px solid #4fd5da;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .text-box3 {
    width: 50%;
    padding: 20px;
  }
  
  .description-box3 {
    border: 3px solid #4fd5da;
    box-shadow: 0px 0px 20px #4fd5da;
    border-radius: 10px;
    padding: 20px;
    margin-right: 50px;
  }
  
  .description3 {
    font-size: 18px;
    line-height: 1.5;
  }

  .neon-title3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #4fd5da;
    text-shadow: 0 0 10px #4fd5da, 0 0 20px#4fd5da, 0 0 30px #4fd5da, 0 0 40px #4fd5da, 0 0 70px #4fd5da, 0 0 80px #4fd5da, 0 0 100px #4fd5da;
  }

  .image-container4 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #42101d;
  }
  
  .image-box4 {
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    border: 4px solid #EEC373;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .text-box4 {
    width: 50%;
    padding: 20px;
  }
  
  .description-box4 {
    border: 3px solid #EEC373;
    box-shadow: 0px 0px 20px #EEC373;
    border-radius: 10px;
    padding: 20px;
    margin-right: 50px;
  }
  
  .description4 {
    font-size: 18px;
    line-height: 1.5;
  }

  .neon-title4 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #EEC373;
    text-shadow: 0 0 10px #A47E3B, 0 0 20px #A47E3B, 0 0 30px #A47E3B, 0 0 40px #A47E3B, 0 0 70px #A47E3B, 0 0 80px #A47E3B, 0 0 100px #A47E3B;
  }

  .image-container5 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #647E68;
  }
  
  .image-box5 {
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    border: 4px solid #7B8FA1;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .text-box5 {
    width: 50%;
    padding: 20px;
  }
  
  .description-box5 {
    border: 3px solid #7B8FA1;
    box-shadow: 0px 0px 20px #7B8FA1;
    border-radius: 10px;
    padding: 20px;
    margin-right: 50px;
  }
  
  .description5 {
    font-size: 18px;
    line-height: 1.5;
  }

  .neon-title5 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #7B8FA1;
    text-shadow: 0 0 10px #434242, 0 0 20px#434242, 0 0 30px #434242, 0 0 40px #434242, 0 0 50px;
  }


  .social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .social-media li {
    margin-right: 10px;
    }
    
    /* .social-media li:last-child {
    margin-right: 0;
    } */
    
    .social-media a {
    color: #fff;
    font-size: 24px;
    }
    
    .social-media a:hover {
    color: #f5a623;
    }
  
    footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
    }
    
    footer a {
    color: #999;
    text-decoration:none;
    }
    
    footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
    }
    
    footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
    }
    
    .footer-bottom {
    margin-top: 20px;
    text-align: center;
    }
    
    .footer-bottom p {
    font-size: 14px;
    margin-bottom: 0;
    }
    
    @media (max-width: 767px) {
    .footer-row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .footer-column {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .footer-column-1 {
      margin-right: 0;
    }
    
    .social-media {
      text-align: center;
    }
    
    .social-media li {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px; /* adjust this value to reduce or increase the space between the icons */
    }
    
    /* .social-media li:last-child {
      margin-bottom: 0;
    } */
    }
  
    .social-icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
    }
    
    .social-icons a {
    margin-right: 10px;
    color: #000; /* Change color as desired */
    font-size: 34px;
    }
    
    .social-icons a:hover {
    color: #3b5998; /* Change color as desired */
    }
  
    .col-md-2 h5 {
    font-size: 26px;
    
    }
  
    .social-icons {
    margin-top: 0.3rem;
  }
  
  .col-md-2 h5 {
    margin-top: 0.1rem;
  }

.button5 {
  width: 202px;
  height: 55px;
  border-radius: 5px;
  background-color: #05BFDB;
  font-size: 18px;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top:5px;
  margin-left: 5px;
}

.button30 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 270px;
}

.checkbox {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust the width to your desired size */
  height: 80%; /* Adjust the height to your desired size */
  /* Add additional styling for the map */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.checkbox:checked ~ .overlay {
  display: block;
}

.checkbox:checked ~ .overlay .map {
  display: block;
}

.Summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
  
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #4f4e4e;
  color: #000000; /* Change the text color of header cells */
}

tbody tr:nth-child(odd) {
  background-color: #146C94; /* Alternate background color for odd rows */
}

tbody tr:nth-child(even) {
  background-color: #003780; /* Alternate background color for even rows */
}

tbody tr:hover {
  background-color: #eef2f5; /* Background color on hover */
}

td:nth-child(3) {
  color: rgb(0, 0, 0); /* Color for True values */
  
}

td:nth-child(4) {
  color: #000000; /* Color for False values */
}

tfoot {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000; /* Change the text color of the footer */
  text-align: center;
  background-color: #4f4e4e;
}

#SUMMARY  h {
  align-items: center;
  margin-left: 605px;
  font-size: 60px;
  text-align: center;
  color: #1D267D;
}

#SUMMARY {
  background-color: #088395;
}